/* /* .box {
    width: 100px;
    height: 100px;
    background-color: #ccc;
  }
   */
   /* .sky {
    width: 500px;
    height: 300px;
    background-color: rgb(152, 188, 242);
  }
  .planet {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: 30px;
    left: 20px;
  }
  .night {
    background-color: rgb(31, 31, 116);
  }
  .night .planet {
    background-color: white;
  }
  .star {
    width: 40px;
    height: 40px;
    background-color: yellow;
    position: relative;
    top: 30px;
    left: 20px;
    transform: rotate(45deg);
  /* } */ 

  